<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
</head>

<body>
<div class="container">
    <h2>Select Data for the Chart</h2>
    <form action="{% url 'my_view' %}" method="post">
        {% csrf_token %}
        <!--        <label for="dataSelect">Choose a dataset:</label>-->
        <select id="dataSelect" name="dataSelect">
            <option value="AAPL">apple</option>
            <option value="AMZN">amazon</option>
        </select>
        <!--        <label for="timeSelect">Choose a timeRange:</label>-->
        <select id="timeSelect" name="timeSelect">
            <option value="7">Last 7 days</option>
            <option value="30">Last 30 days</option>
            <option value="365">Last 365 days</option>
            <option value="0">max</option>
        </select>
        <button type="submit">Load Data</button>
    </form>
</div>
<div class="container">
    <button id="loadChartBtn">Load Chart</button>
    <button id="overlayBtn">Add to Chart</button>
    <button id="removeBtn">Remove from Chart</button>
    <button id="darkModeToggle">Toggle Dark Mode</button>
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script>
const data = JSON.parse('{{ data|safe }}');

function addToGraph(){
    alert('Function called');
}

document.getElementById("darkModeToggle").addEventListener("click", function() {
    const body = document.body;
    const currentlyDark = body.classList.contains("dark-mode");

    if (currentlyDark) {
        body.classList.remove("dark-mode");
        localStorage.setItem("dark-mode", "false");
    } else {
        body.classList.add("dark-mode");
        localStorage.setItem("dark-mode", "true");
    }
});

// On page load, check the user's preference
window.addEventListener("load", function() {
    if (localStorage.getItem("dark-mode") === "true") {
        document.body.classList.add("dark-mode");
    }
});
</script>
<script src="{% static 'charting_data.js'%}"></script>
</body>

</html>
